.login-card {
    height: 300px;
    width: 400px;
    background-color: grey;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-bars {
    height: 40px;
    width: 200px;
    margin-top: 10px;
    font-size: 15px;
    font-family: "Arial", sans-serif;
}

.login-button {
    height: 40px;
    width: 80px;
    margin-top: 10px;
    font-size: 15px;
    font-family: "Arial", sans-serif;
}