.classrooms > div {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.classroom-card {
  width: 270px;
  height: 270px;
  background-color: #000080;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  box-sizing: border-box;
}
